*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}
td img{
    width: 36px;
    height: 36px;
    margin-right: 5em;
    border-radius: 50%;
    vertical-align: middle;
}

table, th, td{
    border-collapse: collapse;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(7px) ;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}
.table_header{
    width: 100%;
    height: 10%;
    padding: 8rem 1rem;
}
.table_body {
    align-items: center;
    cursor: pointer;

}

td img{
    width: 36px;
    height: 36px;
}
td{
    border: 2px;
    color: black;
    border: 1px;
}
table, th, td {
    border-collapse: collapse;
    position: 1rem;
    text-align: left;
    border: 2px solid rgb(92, 72, 72, 0.3);
    background-color: rgba(255, 255, 255, 0.255);
    width: 240px;
    height: 50px;
    margin: right;
    margin: left;
    text-align: center;
    
}
.tf{
    align-items: center;
    justify-content: center;
}
body{
   background-color:moccasin;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 20px;
    width: auto;
    align-items: center;
   
}
main{
    align-items: center;
    justify-content: center; 
}
div{
    align-items: center;
    justify-content: center; 
}
table{
    position: center;
    align-items: center;
    justify-content: center;
    display: contents;
    margin: right;
    position: absolute;
    flex-direction: column;
}
img:hover{
    transform: scale(5);
    box-shadow: 0px 0px 75px 0px  rgb(100, 15, 750);
}

.figure{
    font-size: 80px;
 
    color: black;
    border: double;
    margin-bottom: 50;
}

p{
    text-align: center;
}
button{
    width: 200px;
}
div a{
    text-decoration: none;
    color: black;
    text-shadow: 100%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin: 50px;
}
div a:hover{
    color: blue;
    transition: 2s;
}