*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'poppin',sans-serif;
}
body{
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
}
.tableau-style {
   border-collapse: collapse;
   min-width: 400px;
   width: auto;
   box-shadow: 0 5px 50px rgba(0,0,0,0.5);
   cursor: pointer;
   margin: 100px auto;
   border: 2px solid maroon;
   border: 1px solid #ddd;
   

}
thead tr {
   background-color: maroon;
   color: #fff;
   text-align: left;
}
th, td {
   padding: 15px 20px;
}
tbody tr, td, th {
   border: 1px solid #ddd;
}
tbody tr:nth-child(even){
   background-color: #f3f3f3;
}
tbody tr:last-of-type{
   border-bottom: 2px solid maroon;
}
header{
   position: fixed;
   top: 0%;
   left: 0%;
   padding: 20px 10px;
   width: 100%;
   z-index: 1;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   transition: 0.5s;
}
.figure{
   font-size: 80px;

   color: black;
   border: double;
   margin-bottom: 50;
}