body
{

    background-image : url(fond-carte-invitation-luxe-abstrait-couleur-blanc-or-pour-conception-modele_898891-681.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 20px;
    width: auto;
    
}
.formulaire{
    color: brown;
    text-align: center; 
    ;   
}
.pt{
    display: flex;
}




    
